{
    "extends": ["plugin:vue/recommended"],
    "env": {
        "browser": true
    },
    "rules": {
        // Override our default settings just for this directory
        "no-irregular-whitespace": "off",
        "strict": "off",
        "vue/max-attributes-per-line": "off",
        "vue/attributes-order": "off",
        "vue/singleline-html-element-content-newline": "off",
        "vue/html-quotes": "off",
        "vue/html-self-closing": "off",
        "vue/html-indent": "off",
        "vue/v-bind-style": "off",
        "vue/html-closing-bracket-newline": "off",
        "vue/component-definition-name-casing": "off",
        "vue/one-component-per-file": "off",
        "vue/order-in-components": "off",
        "vue/require-default-prop": "off",
        "vue/no-mutating-props": "off",
        "vue/require-v-for-key": "off"
    }
}
